// Grid
$row-width: 120rem !default;
$max-width: 80%;

//Colors
$black: #000;
$grey-light: #999;
$grey-lighter: #cecece;
$grey-lightest: #f7f7f7;
$grey: #6f6f6e;
$yellow: rgb(255, 210, 0);
$pink: #e5005a;
$blue: #164194;
$cyan: #2cb8c5;
$white: #fff;

//Typefaces
$arial: 'Arial', sans-serif;

//Font faces
//@include web-font('Nexa', '../fonts/', 'Nexa_Free_Bold-webfont');

//Font sizes
$text-small: 1.4rem;
$text-regular: 1.6rem;
$text-medium: 2.2rem;
$text-large: 3rem;
$text-xlarge: 4rem;

//Breakpoints
$small: 540px;
$medium: 768px;
$large: 1024px;
$x-large: 1280px;
$xx-large: 1600px;

//Lost
@lost gutter 0px;
@lost flexbox flex;
@lost cycle none;
@lost rounder 99.99999;

//Spacing
$margin-default: 4rem;

//Global
$primary-font: $arial;
$primary-font-color: $black;
$primary-font-size: $text-regular;
$primary-font-weight: normal;
$primary-link-color: $black;

//Hamburger menu
$hamburger-color: $white;
$hamburger-background-color: transparent;
$hamburger-width: 25px;                // The width of the button area
$hamburger-height: 22px;               // The height of the button area
$hamburger-bar-thickness: 3px;         // The thickness of the button bars
$hamburger-bar-space: 4px;             // The spacing between button bars
$hamburger-pad: 0;                     // The left/right padding between button area and bars.
$hamburger-transistion-duration: .3s;  // The transition duration
