h1,
h2,
h3,
h4 {
    font-weight: $primary-font-weight;
}

h1 {
    color: $black;
    font-size: $text-large;
    font-weight: 700;
    line-height: 1.2em;
}

h2 {
    color: $black;
    font-size: $text-medium;
    font-weight: 700;
    line-height: 1.2em;
}

h3 {
    color: $black;
    font-size: $text-medium;
    font-weight: 700;
    line-height: 1.2em;
}


p {
    color: $black;
    font-size: $text-regular;
}

blockquote {
    margin: 0;
}
