
body{
	font-family: 'Roboto', sans-serif;
	color:#fff;
	margin:0;
	padding:0;
	background:#072441;
}

// Custom flexboxgrid no gutters

[class*='col-'],
[class^='col-'] {
   img {
      max-width: 100%;
      height: auto;
   }
}

.row--no-gutter {
   margin-left: 0;
   margin-right: 0;
}

.col--no-gutter {
   padding-left: 0;
   padding-right: 0;
}

// Box Styles

.boxes{

	.box-row{
		padding:20px;
		margin-bottom:15px;
		min-height:230px;
		background:#666;
		color:#fff;
	}

	.box-row.red{
		background:#E15959;
	}

	.box-row.orange{
		background:#DD782F;
	}

	.box-row.green{
		background:#13D56E;
	}

	.box-row.blue{
		background:#1FB7EB;
	}

	.box-row.purple{
		background:#B34FE0;
	}

	.box-row.pink{
		background:#DC3FAC;
	}

}
